.gu-mirror {
  border: 1px solid #d7ba7d !important;
  height: 52px !important;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.75;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  padding: 8px 16px !important;
  border-left: 8px solid white !important;
  opacity: 0.2;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  filter: alpha(opacity=20);
}
